/Solucion_Codigo/SistemaVentas/nbproject/private/
/Solucion_Codigo/Empresa/nbproject/private/
/Solucion_Codigo/SistemaCalificacion/nbproject/private/
/Solucion_Codigo/Appfiscalia/nbproject/private/
/Solucion_Codigo/Guerra/nbproject/private/
/Solucion_Codigo/SistemaVentas/build/
/Solucion_Codigo/SistemaCalificacion/build/
/Solucion_Codigo/Empresa/build/
/Solucion_Codigo/Appfiscalia/build/
/Solucion_Codigo/Guerra/build/
